$primary-color: black;
$secondary-color: #cccccc;
$btn-color: #1abc54;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin transition-ease{
    transition: all 0.3s ease-in-out;
}

@mixin button-style {
    border: none;
    outline: none;
}

@mixin scroll {
    scrollbar-width: thin;
    scrollbar-color: $secondary-color transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: lighten($secondary-color, 10%);
    }
}