.sign {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    bottom: 0.3rem;
    right: 0;
    left: 0;
    height: 5rem;
    background: linear-gradient(90deg, #af2896, #509bf5);
    color: white;

    &-text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-head {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &-btn {
        height: 3.5rem;
        width: 9rem;
        border-radius: 4rem;
        font-weight: 800;
        @include button-style;
        background-color: whitesmoke;
    }

    .music-player {
        padding: 1rem;
        position: fixed;
        box-sizing: border-box;
        bottom: 0.3rem;
        right: 0;
        left: 0;
        background: black;
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 2rem;


        &-song {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 4px;
            }
        }


        &-info {

            h3 {
                margin: 0;
                font-size: 1rem;
            }

            p {
                margin: 0.3rem 0 0;
                font-size: 0.85rem;
            }
        }


        &-controls {
            display: flex;
            align-items: center;
            gap: 1rem;

            button {
                border: none;
                background: none;
                color: $secondary-color;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .play {
                background-color: white;
                color: black;
                border-radius: 50%;
                width: 40px;
                height: 40px;

                svg {
                    fill: $primary-color;
                }

            }

            svg {
                width: 1.2rem;
                fill: $secondary-color;
            }
        }


        &-progress {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            span {
                font-size: 0.75rem;
            }

            .progress {
                width: 19rem;
                accent-color: $btn-color;
            }
        }
    }
}

.system {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.controls {
    &-items {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;

            svg {
                fill: white;
                width: 1.5rem;
            }


        }

        .music-player-progress {
            .progress {
                width: 100px;
            }

        }
    }
}