.sign {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    bottom: 0.3rem;
    right: 0;
    left: 0;
    height: 5rem;
    background: linear-gradient(90deg, #af2896, #509bf5);
    color: white;

    &-text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-head {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    &-btn{
            height: 3.5rem;
            width: 9rem;
            border-radius: 4rem;
            font-weight: 800;
            @include button-style;
            background-color: whitesmoke;
        }
}